# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Chroma Database
chroma_db/

# Environment Variables
.env

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db